layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="python3.11" {
                args "rover.py" "run" "-s" "camera"
            }
            pane command="python3.11" {
                args "rover.py" "run" "-s" "lidar"
            }
            pane command="python3.11" {
                args "rover.py" "run" "-s" "radar"
            }
        }
        pane split_direction="horizontal" {
            pane size=19 command="htop"
            pane
        }
    }
}