# General
numpy
jax[cuda12]
scipy
tqdm
pyyaml
pandas
matplotlib
imageio[ffmpeg]
einops

# Type checking
beartype
jaxtyping
tqdm-stubs
pandas-stubs
types-PyYAML
mypy

# Sensor-specific
opencv-python-headless  # Reading video
ouster-sdk==0.11.1      # Interpreting Lidar data (destagger, range lut)
rosbags==0.9.19         # Writing bags for the ROS converter
plyfile                 # Cartographer point clouds
h5py                    # Legacy Rover 1 data format
pypcd4                  # PCD output point clouds
