# General
numpy
scipy
tqdm
pyyaml
pandas
matplotlib
imageio[ffmpeg]

# Type checking
beartype
jaxtyping
tqdm-stubs
pandas-stubs
types-PyYAML

# Sensor-specific
opencv-python-headless  # Reading video
ouster-sdk              # Interpreting Lidar data (destagger, range lut)
rosbags==0.9.19         # Writing bags for the ROS converter
plyfile                 # Cartographer point clouds
h5py                    # Legacy Rover 1 data format
