# General
numpy
pyyaml

# Control / Logging Web App
flask

# Type checking
beartype
jaxtyping
types-PyYAML
types-pyserial

# Sensor-specific
pyserial                # Radar, IMU
opencv-python-headless  # Camera
ouster-sdk              # Lidar
