layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="./env/bin/python" {
                args "collect.py" "run" "-s" "camera"
            }
            pane command="./env/bin/python" {
                args "collect.py" "run" "-s" "lidar"
            }
            pane command="./env/bin/python" {
                args "collect.py" "run" "-s" "imu"
            }
            pane command="./env/bin/python" {
                args "collect.py" "run" "-s" "radar"
            }
        }
        pane split_direction="horizontal" {
            pane size=19 command="htop"
            pane
        }
    }
}