layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="./env/bin/python" {
                args "cli.py" "run" "--sensor" "camera"
            }
            pane command="./env/bin/python" {
                args "cli.py" "run" "--sensor" "lidar"
            }
            pane command="./env/bin/python" {
                args "cli.py" "run" "--sensor" "imu"
            }
            pane command="./env/bin/python" {
                args "cli.py" "run" "--sensor" "radar"
            }
        }
        pane split_direction="horizontal" {
            pane size=19 command="htop"
            pane
        }
    }
}